.ItemPage {
    padding: 10px;
}

#itempage-image {
    background-color: black;
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 600px;
    display: block;
}

#time_found-item
{
 color:hotpink;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#findername
{
 color:deepskyblue;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#em
{
 color:peachpuff;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}