#time_found-item
{
 color:hotpink;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#findername
{
 color:deepskyblue;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#em
{
 color:peachpuff;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}