#ter
{
 color:hotpink;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#me
{
    color:deepskyblue;
    text-align:center;
    word-spacing:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
    font-size:18px;
}

#rd
{
 color:peachpuff;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}

#rm
{
 color:darkorchid;
 text-align:center;
 word-spacing:12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif,monospace;
 font-size:18px;
}
