body {
  background-color: rgb(68, 87, 110);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.App-body {
  padding: 15px;
}

.Header {
  background-color: rgb(92, 117, 147);
  color: white;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.headerlogo {
  width: 145px;
  height: 45px;
  cursor: pointer;
}

.headerlogo:hover {
  background-color: rgb(135, 169, 212);
}

#itemlostlists {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}

#itemlostlists-item {
  background-color: white;
  color: black;
  display: inline-grid;
  width: 320px;
  height: 350px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: unset;
  transition: 0.3s 0s cubic-bezier(0, 0.75, 0.44, 1);
}

#itemlostlists-item:hover {
  transform:scale(1.06)
}

#itemlostlists-item-image {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 5px;
  object-fit: contain;
}

#itemlostlists-item-title {

}

#itemlostlists-item-lostsince {

}

.header-login-btn {
  position: fixed;
  right: 0;
  top: 0;
  padding: 13px;
  user-select: none;
  cursor: pointer;
}

.header-login-btn:hover {
  background-color: rgb(111, 136, 170);
}

.header-login-btn:active {
  background-color: rgb(62, 77, 96);
}

.LoginWindow {
  background-color: #5d7493;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  width: 270px;
  height: 280px;
  padding: 12px;
}

input {
  text-decoration: none;
  font-size: 13px;
  width: 100%;
  border: none;
  padding: 3px;
}

button {
  width: 100%;
  padding: 3px;
  border: none;
  border-radius: 4px;
}