body {
  background-color: rgb(68, 87, 110);
  color: white;
}

.Header {
  background-color: rgb(92, 117, 147);
  color: white;
  width: 100%;
  height: 45px;
  position: fixed;
}

.headerlogo {
  width: 145px;
  height: 45px;
  cursor: pointer;
}

.headerlogo:hover {
  background-color: rgb(135, 169, 212);
}