#userwin-logout {
    bottom: 10px;
    position: absolute;
    right: 10px;
    padding: 7px;
    user-select: none;
    cursor: pointer;
}

#userwin-logout:hover {
    background-color: rgb(122, 156, 197);
}

#userwin-button {
    padding: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

#userwin-button:hover {
    background-color: rgb(122, 156, 197);
}